<div class="menu">
    <div class="menu-item active" ng-show="current == 'home'" ng-click="selectMenu('home')">
        <img src="./images/icons/menu_home_active.png" /><br>
        <span>首页</span>
    </div>
    <div class="menu-item"  ng-hide="current == 'home'" ng-click="selectMenu('home')">
        <img src="./images/icons/menu_home.png" /><br>
        <span>首页</span>
    </div>
    <div class="menu-item active"  ng-show="current == 'task'" ng-click="selectMenu('task')">
        <img src="./images/icons/menu_task_active.png" /><br>
        <span>维修</span>
    </div>
    <div class="menu-item"  ng-hide="current == 'task'" ng-click="selectMenu('task')">
        <img src="./images/icons/menu_task.png" /><br>
        <span>维修</span>
    </div>
    <div class="menu-item active"  ng-show="current == 'shop'" ng-click="selectMenu('shop')">
        <img src="./images/icons/menu_shop_active.png" /><br>
        <span>商城</span>
    </div>
    <div class="menu-item"  ng-hide="current == 'shop'" ng-click="selectMenu('shop')">
        <img src="./images/icons/menu_shop.png" /><br>
        <span>商城</span>
    </div>
    <div class="menu-item active"  ng-show="current == 'pc'" ng-click="selectMenu('pc')">
        <img src="./images/icons/menu_pc_active.png" /><br>
        <span>我的</span>
    </div>
    <div class="menu-item"  ng-hide="current == 'pc'" ng-click="selectMenu('pc')">
        <img src="./images/icons/menu_pc.png" /><br>
        <span>我的</span>
    </div>
</div>