<form class="add_order">
    <div class="add_order_option">
        <div class="problem_address bar">
            <img src="./images/icons/add_order_sj.png" /><span>标题</span>
            <input class="problemTitle" type="text" ng-model="data.problemTitle" placeholder="填写标题 >"/>
        </div>
       <div class="problem_time bar">
            <img src="./images/icons/add_order_sj.png" /><span>故障发生时间</span>
            <input class="datetimepicker problemTime" name="problemTime" placeholder="选择故障日期 >"/>
        </div>
      <!--  <div class="time">
            <img src="./images/icons/icon_door.png" /><label>指定上门时间</label>
            <div class="radios">
                <div class="radio" value="1">15分钟内</div>
                <div class="radio" value="2">30分钟内</div>
                <div class="radio" value="3">1小时内</div>
                <div class="radio" value="4">2小时内</div>
                <div class="radio" value="5">4小时内</div>
                <div class="radio" value="6">当天到</div>
                <div class="clear"></div>
            </div>
        </div>-->
        <div class="problem_category bar">
            <img src="./images/icons/add_order_sj.png" /><span>问题分类</span>
            <select class="select problemCategory" name="problemCategory" >
                <option value="1">常见故障</option>
                <option value="2">机械故障</option>
                <option value="3">电子故障</option>
                <option value="4">液压故障</option>
                <option value="5">电气故障</option>
                <option value="6">辅助故障</option>
            </select>
        </div>
        <textarea class="problem_desc" ng-model="data.problemDesc" placeholder="请简单地描述故障，方便我们的工作人员提前准备"></textarea>
        <div class="problem_phone bar">
            <img src="./images/icons/add_order_dh.png" /><span>联系电话</span>
            <input class="problemPhone" type="number" placeholder="填写联系电话 >"/>
        </div>
        <div class="problem_money bar">
            <img src="./images/icons/add_order_smf.png" /><span>预约金额</span>
            <input class="problemMoney" type="number" value="50" placeholder="填写预约金额 >"/>
        </div>
        <div class="problem_address bar">
            <img src="./images/icons/add_order_dz.png" /><span>详细地址</span>
            <input class="problemAddress" type="text" placeholder="填写地址 >"/>
        </div>
        <div class="problem_stop_time bar">
            <img src="./images/icons/add_order_rq.png" /><span>截止日期</span>
            <input class="datetimepicker problemStopTime" placeholder="选择截止日期 >"/>
        </div>
    </div>
    <div class="footer">
        <div class="commit" ng-click="addOrderCommit()">保存</div>
    </div>
</form>
