<!--<div class="gain_record_head bid_order_chart"></div>-->

<div ng-show="dataList.length == 0" class="tips">暂无数据:(</div>
<div ng-repeat="item in dataList" class="bid_order_card">
    <div class="bid_order_card_right">
        <img class="boc_right_icon" src="./images/icons/bid_order_zt.png"/><br>
        <span class="boc_right_status">{{getBidOrderStatus(item.status)}}</span>
    </div>
    <div class="bid_order_card_left">
        <div class="boc_left_top">
            <div class="boc_left_money">￥{{item.totalFee}}</div>
            <div class="boc_left_title">{{item.taskTitle}}</div>
        </div>
        <div class="boc_left_bottom">
            <div class="boc_left_number">
                <div class="boc_left_number_text">订单编号：</div>
                <div class="boc_left_number_value">{{item.orderNumber}}</div>
            </div>
            <div class="boc_left_phone">
                <div class="boc_left_phone_text">联系电话：</div>
                <div class="boc_left_phone_value">{{item.cellphone}}</div>
            </div>
            <div class="boc_left_address">
                <div class="boc_left_address_text">上门地址：</div>
                <div class="boc_left_address_value">{{item.geoPosition + ' ' + item.addressDetail}}</div>
            </div>
        </div>
    </div>
    <div class="clear"/>
</div>
