<div class="common_content">
    <div class="upload_portrait_middle">
        <img src="./images/icons/upload_portrait_tx.png" style="width: 100%"/>
    </div>
    <div class="footer" ng-click="changePortrait()">更改头像</div>

    <div class="changePortraitDialog">
        <div class="md-accounts" mbsc-enhance>
            <button class="mbsc-btn mbsc-btn-flat mbsc-btn-block md-email dwb-e" ng-click="changePortraitSelect(1)">
                重新拍照
            </button>
            <button class="mbsc-btn mbsc-btn-flat mbsc-btn-block md-email dwb-e" ng-click="changePortraitSelect(2)">
                本地图片
            </button>
        </div>
    </div>
</div>
